@charset "UTF-8";
.hide {
  visibility: hidden;
}

.col img {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  width: 200px !important;
  animation: logo 0.8s infinite;
  position: absolute;
  top: 30px;
  left: 30px;
}

@media (max-width: 1024px) {
  .logo {
    width: 180px !important;
  }
}
@media (max-width: 768px) {
  .logo {
    width: 150px !important;
  }
}
.leaveBtn {
  position: absolute;
  top: 30px;
  right: 30px;
}
.leaveBtn img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1024px) {
  .leaveBtn img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .leaveBtn img {
    width: 30px;
    height: 30px;
  }
}
#startBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  border-radius: 30px;
  font-size: 44px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  box-shadow: 1px 1px 5px #000;
  opacity: 0.9;
  cursor: pointer;
  background-color: #ffffff;
  letter-spacing: 5px;
  font-weight: 900;
  opacity: 0.5;
}

#startBtn:hover,
#startBtn:focus {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px #bfbfbf;
  transform: translateY(-2px);
  opacity: 0.9;
}

.question {
  width: 64px;
  height: 64px;
  background-image: url(../img/request.png);
  position: absolute;
  bottom: 2%;
  left: 2%;
}

.question:hover {
  transform: scale(1.1);
}

#container-md {
  width: 85%;
  margin-bottom: 2%;
  opacity: 0.7;
  border-radius: 20px;
  background-color: aliceblue;
  z-index: 10;
}
#container-md .col .card-body {
  font-size: 20px;
  font-weight: bold;
}

@keyframes logo {
  0% {
    transform: translateY(10px);
  }
  20% {
    transform: translateY(5px);
  }
  40% {
    transform: translateY(0px);
  }
  60% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.loadingbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #608cb1;
  z-index: 20;
  animation: fadein 3s;
}
.loadingbox .cubeGrid {
  width: 390px;
  height: 120px;
  margin: 200px auto 0px;
  background-image: url(../img/LOGO\(橫白透\).png);
  background-repeat: no-repeat;
  background-size: contain;
}
.loadingbox .cubeGrid .cube {
  width: 33.3%;
  height: 33.3%;
  background-color: #608cb1;
  float: left;
  animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.loadingbox .cubeGrid .cube1 {
  animation-delay: 0.2s;
}
.loadingbox .cubeGrid .cube2 {
  animation-delay: 0.3s;
}
.loadingbox .cubeGrid .cube3 {
  animation-delay: 0.4s;
}
.loadingbox .cubeGrid .cube4 {
  animation-delay: 0.1s;
}
.loadingbox .cubeGrid .cube5 {
  animation-delay: 0.2s;
}
.loadingbox .cubeGrid .cube6 {
  animation-delay: 0.3s;
}
.loadingbox .cubeGrid .cube7 {
  animation-delay: 0s;
}
.loadingbox .cubeGrid .cube8 {
  animation-delay: 0.1s;
}
.loadingbox .cubeGrid .cube9 {
  animation-delay: 0.2s;
}
@keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
.loadingbox .loadingCalcBox {
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}
.loadingbox .loadingCalcBox .loadingBar {
  width: 306px;
  height: 36px;
  border: 3px solid rgb(73, 67, 67);
  border-radius: 5px;
  margin: auto;
}
.loadingbox .loadingCalcBox .loadingBar .loadingBarColor {
  width: 0px;
  height: 30px;
  background-color: rgb(255, 86, 86);
  border-radius: 2px;
}

@media (max-width: 1025px) {
  .loading .loadingbox .cubeGrid {
    width: 250px;
    height: 100px;
  }
  .loading .loadingbox .cubeGrid .cube {
    width: 30%;
    height: 30%;
  }
  .loading .loadingbox .loadingCalcBox {
    font-size: 32px;
  }
}
@media (max-width: 376px) {
  .loading .loadingbox .cubeGrid {
    width: 200px;
    height: 80px;
  }
  .loading .loadingbox .loadingCalcBox {
    font-size: 24px;
  }
  .loading .loadingbox .loadingCalcBox .loadingBar {
    width: 250px;
  }
}/*# sourceMappingURL=move8thfloor.css.map */