* {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans TC", sans-serif;
	box-sizing: border-box;
}

.container {
	width: 100%;
	height: 100vh;
	background-color: #add8e6;
}

.banner {
	width: 100%;
	display: flex;
	padding: 10px;
	justify-content: space-evenly;
	margin-bottom: 50px;
	align-items: center;
}

.banner-video {
	width: 60%;
	margin: 30px;
	video {
		box-shadow: 5px 5px 10px #000;
	}
}

.banner-title {
	font-family: "Noto Sans TC", sans-serif;
	font-family: "Playpen Sans", cursive;
	align-self: center;
	padding: 10px;
	font-size: 60px;
	position: relative;
	text-shadow: 2px 2px 5px #000;
}
.banner-title::before {
	content: url(../img/花花\(NEW\).png);
	position: absolute;
	left: -25px;
	top: -5px;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

a:visited {
	color: inherit;
}

nav {
	margin: 0px 20px;
	height: 150px;
	display: flex;
	border-radius: 10px;
	background-color: #608cb1;
	justify-content: space-between;
	box-shadow: 2px 0px 10px #000;
	align-items: center;
	.logo {
		margin: 20px;
		img {
			width: 150px;
			overflow: hidden;
			object-fit: cover;
		}
	}
	ul {
		display: flex;
		margin: 20px;
		.btn {
			border-radius: 30px;
			text-align: center;
			padding: 30px 10px;
			margin: 10px;
			box-shadow: 1px 1px 5px #000;
			opacity: 0.9;
			cursor: pointer;
			background-color: #fff;
		}
		.btn:hover,
		.btn:focus {
			background-color: #f9dc5c;
			box-shadow: 5px 5px 10px #000;
			transition: 1s;
			transform: translateY(-5px);
		}
	}
	a {
		font-size: 32px;
		cursor: pointer;
		font-weight: 900;
		letter-spacing: 5px;
	}
}
