.logo {
    animation: logo 0.8s infinite;
    position: absolute;
    top: 30px;
    left: 30px;

    img {
        width: 200px;
        overflow: hidden;
        object-fit: cover;
    }

}



@keyframes logo {
    0% {
        transform: translateY(10px);
    }

    20% {
        transform: translateY(5px);
    }

    40% {
        transform: translateY(0px);
    }

    60% {
        transform: translateY(-5px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}